<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Личный блог</title>
</head>

<body>
<a href="@{/posts}" style="float:right;">
    <b>НА ГЛАВНУЮ &cudarrr;</b>
</a>
<form method="POST" th:action="@{(${post==null}? '/post/new' : '/post/{id}')(id=${post?.id()})}" enctype="multipart/form-data">
    <table style="width:50%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <h3>Название</h3>
                <textarea rows="2" style="width: 100%;" name="title" th:text="${post==null ? '' : post.title()}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Изображение</h3>
                <input type="file" name="image">
            </td>
        </tr>
        <tr>
            <td>
                <h3>Теги</h3>
                <textarea rows="2" style="width: 100%;" name="tags" th:text="${post==null ? '' : post.tags()}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Текст</h3>
                <textarea rows="30" style="width: 100%;" name="body" th:text="${post==null ? '' : post.body()}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <button style="float:right;" th:text="${post==null ? 'Сохранить' : 'Редактировать'}"></button>
            </td>
        </tr>
    </table>
</form>
</body>